@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #09090e; /* Deep dark background */
  color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #09090e; 
}
::-webkit-scrollbar-thumb {
  background: #2a2440; 
  border-radius: 10px;
}